<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>publications</title>
  </head>
  <style>
    body {
      background-color: lightblue;
    }
  </style>
  <body>
    <h1>publication list:</h1>
    <div class="container">
    <ol>
      <li>
        <b>Manjeet Bhatia</b>, Franco Biasioli, Luca Cappellin and Kulvinder Singh, A Quantum chemical 
        Evaluation of Gas-Phase Proton Aﬃnity, Ionization Energy and Reactivity Parameters for 
        Wine Volatiles, to be submitted in ’Molecules’.
      </li>
      <p>
      <li>
        <b>Manjeet Bhatia</b>, Nicola Manini, Franco Biasioli, Luca Cappellin, Calculated Rate Coeﬃcients 
        Between CI-MS Reagent Ions and Organosulfur Compounds Causing Food Taints and Oﬀ-ﬂavours, 
        International Journal of Mass Spectrometry, 478, 116860 2022. 
        (DOI: <a href="https://doi.org/10.1016/j.ijms.2022.116860">https://doi.org/10.1016/j.ijms.2022.116860</a>)
      </li>
      <p>
        <li>
        <b>Manjeet Bhatia</b>, Nicola Manini, Franco Biasioli, Luca Cappellin, Theoretical Investigation of 
        Charge Transfer from NO+ and O+2 Ions to Wine-Related Volatile Compounds for Mass Spectrometry, 
        Journal of the American Society for Mass Spectrometry, 33, 2, 251-264 2022. 
        (DOI: <a href="https://doi.org/10.1021/jasms.1c00253">https://doi.org/10.1021/jasms.1c00253</a>)
        <p>
      </li>
      <li>
        <b>Manjeet Bhatia</b>, Franco Biasioli, Luca Cappellin, Paolo Piseri, Nicola Manini, Abinitio 
        calculation of the proton transfer reaction rate coeﬃcients to volatile organic compounds
         related to cork-taint in wine, Journal of Mass Spectrometry, 55(11), e4592, 2020.
        (DOI: 
        <a href="https://doi.org/10.1002/jms.4592">https://doi.org/10.1002/jms.4592</a>)
      </li>
      <p>
      <li>
        <b>Manjeet Bhatia</b>, Uma Shankar Sharma, Anurag Srivastava, Chromium Inﬂuenced
        High Magnetic Moment and Half-Metallic Nature of GaN Nanotube, Journal of
        Nanoscience and Nanotechnology, Volume 19, Number 7 2019.
        (DOI: 
        <a href="https://doi.org/10.1166/jnn.2019.16286">https://doi.org/10.1166/jnn.2019.16286</a>)
      </li>
      <p>
      <li>
        <b>Manjeet Bhatia</b>, Md. Shahzad Khan and Anurag Srivastava, Pressure induced phase
        transition in CdTe nanowire: A DFT study, AIP Conference Proceedings, 1953, 040033
        (2018).
        (DOI: 
        <a href="https://doi.org/10.1063/1.5032653">https://doi.org/10.1063/1.5032653</a>)
      </li>
      <p>
      <li>
        Md. Shahzad Khan, <b>Manjeet Bhatia</b> and Anurag Srivastava, Structural and electronic
        properties of rectangular CdTe nanowire: A DFT study, AIP Conference Proceed-
        ings, 1953, 040136 (2018).
        (DOI: 
        <a href="https://doi.org/10.1063/1.5033311">https://doi.org/10.1063/1.5033311</a>)
      </li>
      <p>
      <li>
        <b>Manjeet Bhatia</b> and Anurag Srivastava, Band gap and magnetic moment of Ga1-
        xCrxN, AIP Conference Proceedings, 1832, 090045 (2017).
        (DOI: 
        <a href="https://doi.org/10.1063/1.4980598">https://doi.org/10.1063/1.4980598</a>)
      </li>
      <p>
      <li>
        <b>Manjeet K. Bhatia </b>and G.Ramesh Babu, Electronic transport across a layered struc-
        ture of Fe/𝛽−poly vinylidene ﬂuoride/Fe using DFT calculations, Journal of Compu-
        tational Electronics volume 13, pages 613–619 2014.
        (DOI: 
        <a href="https://doi.org/10.1007/s10825-014-0578-8">https://doi.org/10.1007/s10825-014-0578-8</a>)
      </li>
    </ol>
  </div>
  </body>
</html>
