<!doctype html>
<html lang="en">
  <head>
    <style>
      h2,h4,h3 {
        margin-top: 10px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 180px;
      }
      body {
        background-color: lightblue;
      }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>research lines</title>
    </style>
  </head>
  <body>
    <h2>Research interests</h2>
    <h4>Ion-molecule reaction kinetics</h4>
    <h4>Surface reactions and Catalysis </h4>
    <h4>Machine Learning</h4>
    <h3>Recent past research</h3>
  </body>
</html>
